# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large data files
*.zip
*.tar.gz
*.rar
*.mat
*.csv
*.xlsx
*.xls

# Models
*.h5
*.hdf5
*.pkl
*.joblib
